@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --icon-hover: hsl(322, 100%, 66%);
}

$bp-desktop: 90em; //1440px
$bp-mobile: 23.43em; //375px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/bg-desktop.svg) center center/cover no-repeat;
  background-color: var(--violet);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
