@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --icon-hover: hsl(322, 100%, 66%);
}

//Desktop Breakpoint
$bp-desktop: 90em; //1440px


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
  background: url(../images/bg-desktop.svg) center center/cover no-repeat;
  background-color: var(--violet);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

// Container Styling
.container {
  max-width: 30.4rem;
  margin: 4rem auto;

  @media only screen and (min-width: $bp-desktop) {
    max-width: 128rem;
    margin: 6rem auto;
    overflow: auto;
  }
}


// Header Styling 
.header {
  margin-bottom: 7rem;

  @media only screen and (min-width: $bp-desktop) {
    margin-bottom: 10.4rem;
  }
}

// Main Content Styling 
.main-content {
  display: grid;
  grid-template-columns: 1fr;
  

  @media only screen and (min-width: $bp-desktop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }

  &__illustration {
    display: block;
    max-width: 100%;
}

&__description {
  margin-top: 6rem;
  text-align: center;

  @media only screen and (min-width: $bp-desktop) {
    margin-top: 5rem;
  }
}

&__description-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
 
 @media only screen and (min-width: $bp-desktop) {
    font-size: 4rem;
  line-height: 1.5;
  }
}

&__description-paragraph {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

@media only screen and (min-width: $bp-desktop) {
  font-size: 1.8rem;
}

}

// Button Styling
.btn {
  padding: 1.5rem 6rem;
  border: none;
  border-radius: 2.8rem;
  text-decoration: none;
  background-color: #ffffff;
  color: var(--violet);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all ease-in 0.3s;

  &:hover {
    background-color: var(--soft-magenta);
    color: #fff;
    cursor: pointer;
  }
}


// Social Links Styling
.social-links {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 6.4rem;

  @media only screen and (min-width: $bp-desktop) {
    justify-content: end;
    margin-top: 2.7rem;
  }

  &__icon {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    text-decoration: none;
    margin-right: 1.6rem;
    transition: all ease-in 0.3s;

    &:hover {
      border: 2px solid var(--icon-hover);
      color: var(--icon-hover);
      cursor: pointer;
    }

  }

  &__hidden-text {
    display: none;
  }
  

  
}